html{
    background: linear-gradient(to top, #80f2c4, 35%, #8e80dd) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    text-align: center;
    color:#404040;
}
#Start{
    width:100px;
    font-size: 25px;
    height: 45px;
    color: #404040;
    background-color: #80dd8e;
    justify-content: center;
    margin-bottom: 30px;
    cursor: pointer;
}
#Song{
    width:83px;
    height:48px;
    background-color: #d0cbf1;
    cursor: pointer;
}
#topcorner{
    position:absolute;
    top:0;
    right:0;
    margin: 15px;
   }
.score {
    line-height: 1;
}
#score_area{
    margin-top: 0px;
    font-size: 25px;
}
#newCount{
    margin-top: 0px;
    font-size: 25px;
}
.game {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hole {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
    padding-bottom: 100px;
    align-items: center;
    height: 125px;
    cursor: url("images/curse_Hammer.png"), auto;	
}

.hole:after {
    display: block;
    background: url(images/newHole.png) center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height: 150px;
    position: absolute;
    z-index: 2;
}

.people {
        background-size: 80%;
        position: absolute;
        top: 100%;
        width: 3000px;
        height: 100%;
        transition: all 0.5s
    }

.hole.up .people {
    top:0;
}

.lathe {
    background: url('images/lathe.png') bottom center no-repeat;
    }

.corey { 
    background: url('images/Corey.png') bottom center no-repeat;
}

.fernae {
    background: url('images/Fernae.png') bottom center no-repeat;
}

.nate {
    background: url('images/Nate.png') bottom center no-repeat;
}

.matthew {
    background: url('images/Matt.png') bottom center no-repeat;
}
